@import 'tailwindcss';

html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #155dfc;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a8eff;
}
